<html>
  <head>
    <style>
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
      div {
        text-align: center;
      }
    </style>
  </head>
  <body style="background-color: powderblue">
    <br />
    <br />
    <div>
      <h1>UnSatisfied Customer</h1>
      <img
        src="{{url_for('static', filename='Sad_emoji.png')}}"
        alt="Happy Emoji"
        width="250"
        height="250"
      />
    </div>
  </body>
</html>
